<app-header backButton="login"></app-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido de la página de error 404 -->
  <ion-grid class="error-content">
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>Error 404</h1>
        <ion-img src="assets/images/error404.svg"></ion-img>
        <h2>Página no encontrada</h2>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>