<ion-content>
  <app-header title="Acerca de Nosotros"></app-header>
  <app-logo></app-logo>

  <div class="content ion-text-center">
    <h2>¿Quiénes somos?</h2>
    <p>
      Somos una empresa que se dedica a la venta de productos de tecnología, con la finalidad de satisfacer las necesidades de nuestros clientes.
    </p>
    <h2>¿Qué hacemos?</h2>
    <p>
      Nos encargamos de la venta de productos de tecnología, como computadoras, laptops, tablets, celulares, accesorios, entre otros.
    </p>
    <h2>¿Dónde estamos?</h2>
    <p>
      Nos encontramos en la ciudad de Lima, Perú.
    </p>

  </div>
</ion-content>