<ion-content>
  <app-header title="Acerca de Nosotros"></app-header>
  <app-logo></app-logo>

  <div class="content ion-text-center">
    <ion-card-content>
      <h1>¿Quiénes somos?</h1>
      <br>
      <p>
        Somos un equipo apasionado de Santiago de Chile que busca ayudarte a organizar tu vida y lograr tus metas con más facilidad.
      </p>
      <br>
      <h1>¿Qué hacemos?</h1>
      <p>
        Nos encargamos del desarrollo de páginas web y Apps.
      </p>
      <br>
      <h1>¿Dónde estamos?</h1>
      <p>
        Estamos ubicados en Santiago de Chile, pero nuestra app está contigo donde sea que la necesites.
      </p>
    </ion-card-content>
    <ion-card class="map-container">
      <app-mapa></app-mapa>
    </ion-card>
    

  </div>
</ion-content>